<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>App Selection Screen </title>


	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>

  </head>

  <body>

    <!-- Static navbar -->
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">APP SELECTION</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="work.html">Lessons</a></li>
            <li><a href="about.html">Settings</a></li>
            <li><a href="blog.html">Metrics</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>




	<!-- +++++ Projects Section +++++ -->

	<div class="container pt">
		<div class="row mt centered">
			<div class="col-lg-4">
				<a class="zoom green" href="/buddybear"><img class="img-responsive" src="static/bear_1.png" alt="" /></a>
				<h2>BUDDY BEAR</h2>
			</div>
			<div class="col-lg-4">
				<a class="zoom green" href="work01.html"><img class="img-responsive" src="static/cat_1.png" alt="" /></a>
				<h2>CHATTY CAT</h2>
			</div>
			<div class="col-lg-4">
				<a class="zoom green" href="work01.html"><img style="height:520pxi<," class="img-responsive" src="static/monkey_1.png" alt="" /></a>
				<h2>MARTY MONKEY</h2>
			</div>
		</div><!-- /row -->
		<div class="row mt centered">
			<div class="col-lg-4">
				<a class="zoom green" href="work01.html"><img class="img-responsive" src="static/owl_1.png" alt="" /></a>
				<h2>OLLIE OWL</h2>
			</div>
			<div class="col-lg-4">
				<a class="zoom green" href="work01.html"><img class="img-responsive" src="static/panda_1.png" alt="" /></a>
				<h2>PAMMY PANDA</h2>
			</div>
			<div class="col-lg-4">
				<a class="zoom green" href="work01.html"><img style="height:520px" class="img-responsive" src="static/rabbit_1.png" alt="" /></a>
				<h2>RUBY RABBIT</h2>
			</div>
		</div><!-- /row -->
	</div><!-- /container -->


  </body>
</html>
